<div class="container">
  <div class="example">
    Mapping Examples
    <div>Count: {{ count }}</div>
    <div>
      <button mat-raised-button color="primary" (click)="increment()">
        Increment
      </button>
      <button mat-raised-button color="accent" (click)="reset()">Reset</button>
    </div>
    <div>map: {{ mapped$ | async }}</div>
    <div>
      mergeMap:
      {{ merged$ | async }}
    </div>
    <div>
      switchMap:
      {{ switchSub }}
    </div>
    <div>
      concatMap:
      {{ concat$ | async }}
    </div>
  </div>
  <div class="example">
    Combining Examples
    <div>A: {{ aClicked }}</div>
    <div>B: {{ bClicked }}</div>
    <div>
      <button mat-raised-button color="primary" (click)="emitA()">
        Emit A
      </button>
      <button mat-raised-button color="accent" (click)="emitB()">Emit B</button>
    </div>
    <div>combineLatest: {{ combined$ | async | json }}</div>
    <div>forkJoin: {{ forkJoined$ | async | json }}</div>
  </div>
  <div class="example">
    Filtering Examples
    <div>Count: {{ filterCount }}</div>
    <div>
      <button mat-raised-button color="primary" (click)="incrementFilter()">
        Increment
      </button>
      <button mat-raised-button color="accent" (click)="resetFilter()">
        Reset
      </button>
      <button mat-raised-button (click)="takeWhileStop$.next()">
        Stop takeUntil
      </button>
    </div>
    <div>filter: {{ filter$ | async }}</div>
    <div>take: {{ take$ | async }}</div>
    <div>takeWhile: {{ takeWhile$ | async }}</div>
    <div>takeUntil: {{ takeUntil$ | async }}</div>
    <div>skip: {{ skip$ | async }}</div>
  </div>
</div>
